body {
    font-family: "MainFont", sans-serif;
}

@font-face {
    font-family: "MainFont";
    src: url("fonts/HouseofTerror\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}